{% extends "layout.html" %}

{% block title %}
 contact us
{% endblock %}

{% block content %} 

<h1 class="text-center font-sans font-semibold text-4xl text-black mt-10">Contact Us</h1>
<div class="max-w-3xl md:mx-auto bg-linear-to-br from-slate-900 to-neutral-600 shadow-md rounded-lg p-4 sm:p-6 mx-5 mt-8 mb-10 border-2 border-zinc-800 text-center">
    
    <h2 class="text-center m-2 p-1 font-semibold text-2xl sm:text-3xl mb-6">Contact Information </h2>
       <p> <i class="fa-solid fa-phone text-2xl py-4 "></i> </p>
       <p>03355504455</p>

       <i class="fa-regular fa-envelope text-4xl py-6"></i>
       <p>zahidsheikh2255@gmail.com</p>

    
</div>

{% endblock %}